.Comment{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: #1f2128;
    align-items: flex-start;
}

.Comment_Header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.Comment_Header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.Comment_Username{
    font-size: 12px;
}