.CommentButton {
    display: flex;
    align-items: center;
    gap: 7px;
    color: white;
    padding: 8px 13px;
    background: #2d3748;
    border-radius: 20px;

}

.CommentButton svg {
    font-size: 15px;
}

.vote-icon {
    cursor: pointer;
    transition: fill 0.2s ease, color 0.2s ease;
}

.vote-icon.active-up {
    color: orange;
    fill: orange;
}

.vote-icon.active-down{
    color: blue;
    fill: blue
    
}