.Comment {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 8px 13px;
    background: #2d3748;
    border-radius: 20px;

}

.Comment svg {
    font-size: 15px;
}