.Vote {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #2d3748;
    color: white;
    padding: 3px 5px;
    border-radius: 20px;
}

.Vote svg{
    font-size: 25px;
}

.vote-icon {
    cursor: pointer;
    transition: color 0.2s ease;
}

.vote-icon.active-up {
    color: orange;
}

.vote-icon.active-down{
    color: blue
}